<% for(var i = 0; i < data.length; i++) { %>
    <h3><span class="article_timestamp"><%= data[i].articleDate%></span><%= data[i].newsTitle %> (<%= data[i].sourceName %>)</h3>
    <div>
        <%
            var splitted = data[i].content.split("\n");
            for(var j = 0; j < splitted.length; j++) {
                %><p><%= splitted[j]%></p><%
            }
        %>
        <div class="article_link">Источник: <a  target="_blank" href="<%= data[i].newsLink%>"><%= data[i].newsLink%></a></div>
    </div>
<% } %>
