<div class="w2ui-page page-0">
    <div class="w2ui-field">
        <label>Логин:</label>
        <div>
           <input id="un" name="un" type="text" maxlength="100" style="width: 100%"/>
        </div>
    </div>
    <div class="w2ui-field">
        <label>Пароль:</label>
        <div>
            <input id="pwd" name="pwd" type="password" maxlength="100" style="width: 100%"/>
        </div>
    </div>
    <div id="auth-result" class="error-message"></div>
</div>
<div class="w2ui-buttons">
    <button class="w2ui-btn" name="okAuth" id="okAuth">OK</button>
    <button class="w2ui-btn" name="cancelAuth">Отмена</button>
</div>