<div>
    <table class="import-message-table">
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].name %></td>
                <td style="float: right;"><%= data[i].status %></td>
            </tr>
        <% } %>
    </table>
</div>