<table>
<%
var currentLevel = $("#logLevelSelect").val();
var toAdd = false;
for(var i = 0; i < data.length; i++) {
    switch(data[i].level) {
        case 'trace': {
            toAdd = currentLevel <= 0;
        } break;
        case 'debug': {
            toAdd = currentLevel <= 1;
        } break;
        case 'info': {
            toAdd = currentLevel <= 2;
        } break;
        case 'warn': {
            toAdd = currentLevel <= 3;
        } break;
        case 'error': {
            toAdd = currentLevel <= 4;
        } break;
        case 'fatal': {
            toAdd = currentLevel <= 5;
        } break;
    }
    var addLevelInvisible = toAdd?"":" log_level_invisible";

    var selectedSource = $("#logSourceSelect").val();
    var addSourceInvisible = "";
    if("all" == selectedSource) {
        /* Оставляем пустым */
    } else if("no_source" == selectedSource) {
        if(data[i].source) {
            addSourceInvisible = " log_source_invisible";
        }
    } else {
        /* В селекте указан источник */
        if(selectedSource != data[i].source) {
            addSourceInvisible = " log_source_invisible";
        }
    }
%>
    <tr class="record_<%= data[i].level + addLevelInvisible + addSourceInvisible%>" source="<%= data[i].source%>">
        <td><span class="log-date"><%= data[i].recordDate%></span></td><td><span class="log-source"><%=data[i].source%></span></td><td><span class="log-text"><%= data[i].text%></span></td>
    </tr>
<%
    }
%>
</table>