<div class="w2ui-page page-0">
    <div class="message-text">Выбран источник: <span id="source2delete"></span></div>
    <div class="message-text">Удалить?</span></div>
    <div id="deleteSources-result" class="error-message"></div>
</div>
<div class="w2ui-buttons">
    <button class="w2ui-btn" name="okDelete" id="okDelete">OK</button>
    <button class="w2ui-btn" name="cancelDelete">Отмена</button>
</div>