#log_area {
    border: 1px solid #d9dacc;
    background-color: #fffffc;
    width: 100%;
    /*height: 30em;*/
    /*overflow-y: auto;*/
}

span.log-date {
    /*border: 1px solid blue;*/
/*    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;*/
    margin-left: 0.5em;
    margin-right: 0.5em;
    white-space: nowrap;
}
span.log-text {
    /*border: 1px solid blue;*/
/*    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;*/
    margin-left: 0.5em;
    margin-right: 0.5em;
}
span.log-source {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: small;
}

.record_trace {
    color: #53a5e1;
}

.record_debug {
    color: #406dda;
}

.record_info {
    color: #00000;
}

.record_warn {
    color: #9e0000;
}

.record_error {
    color: #de0000;
}

.record_fatal {
    color: #ff7f02;
}

.log_level_invisible {
    display: none;
}

.log_source_invisible {
    display: none;
}

.log_filtering {
    display: inline;
    float: left;
    margin: 6px;
}

.log_filter_select {
    width: 12em;
    height: 28px;
}

#logDatePicker {
    width: 12em;
    height: 23px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
}

#downloadLogButton {
    display: inline-block;
    margin-left: 6px;
    margin-top: 22px;
    margin-right: 6px;
    margin-bottom: 6px;
}